.Contact {
    display: flex;
}

.ContactForm {
    flex: 1;
}

.Contact a {
    margin-left: 12px;
    width: 100%;
    text-align: center;
    margin: auto;
}

@media(max-width: 500px) {
    .Contact {
        flex-direction: column;
    }
}