.Item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}

.Item i {
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

@media(max-width: 1100px) {
    .Item {
        display: flex;
        text-align: left;
    }
    .Item i {
        margin-right: 1.3rem;
        align-self: center;
        margin-bottom: 0;
    }   
}


@media(max-width: 768px) {
    .Item {
        flex: 1;
        text-align: center;
        padding: 1rem;
        flex-direction: column;
    }
    .Item i {
        padding: 1rem;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    
}

